*~
*.DS_Store
*.svn
*.swp
*.out
*.tmp
*.bak
.metadata
.project
.classpath
.settings/
.loadpath
*.launch
.buildpath

*.class
community/logicaldoc/logicaldoc-core/target/
community/logicaldoc/logicaldoc-gui/target/
community/logicaldoc/logicaldoc-i18n/target/
community/logicaldoc/logicaldoc-util/target/
community/logicaldoc/logicaldoc-webapp/target/
community/logicaldoc/logicaldoc-wedav/target/
community/logicaldoc/logicaldoc-webservice/target/
